<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <h1> Selection </h1>
    <br></br>
    <a href="/addpage">
    <button type="button" class="btn btn-primary">
        
        addpage
    </button>
    </a>

    <a href="/showpage">
    <button type="button" class="btn btn-primary">
        
        showpage
    </button>
    </a>

    <a href="/randpage">
    <button type="button" class="btn btn-primary">
        
        Random me
    </button>
    </a>
    
</body>
</html>